<div class="span12">
    <div class="hero-unit">
    <h1>Cropperly</h1>
    <p>A light solution for cropping your PDF files in your browser.</p>
    <p>
    <form action="/new" method="post" enctype="multipart/form-data">
        <input type="file" name="file" placeholder="Select your PDF File!" accept="application/pdf" />
        <input type="submit" class="btn btn-primary btn-large" value="Upload" />
    </form>
    </p>
    </div>
</div><!--/span-->
